body {
    font: normal 20pt Arial;
    background: rgb(121, 121, 199);

}

header {
    color: white;
    text-align: center;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
    text-align: center;


}

footer {
    color: white;
    text-align: center;
    font-style: italic;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
}
